body, html {
    margin: 0;
    padding: 0;
}

.top-nav {
    background-color: black;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    padding: 0 1em;
    margin: 0;
}

div {
    font-weight: bolder;
    font-size: 60px;


}

.try {
    background-color: #ff3e68;
    border: 1px solid grey;
    border-radius: 30px;
    height: 25px;
    width: 200px;
    color: white;
    font-weight: bold;

}

a {
    color: #c6c6c6;
    text-decoration: none;
}
