.fas {
    margin: auto;

}

.pizza {
    background-image: url('../imgs/pizza.png');
    width: 100%;



}

h1 {
    background-color: white;
    color: black;
    opacity: 0.6;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}



