* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}



header nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1em;
}


header nav a:hover {
    color: blue;
}

nav {

    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: lightgrey;
    font-weight: bolder;
    font-family: 'Work Sans', sans-serif;
    align-items: center;
}

/*.nav-left {*/
/*    justify-content: flex-start;*/
/*}*/

/*.nav-right {*/
/*    justify-content: flex-end;*/
/*}*/



#logo {

    font-size: 3em;
    padding: .2em 0;
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    color: black;
    /*position: absolute;*/


}


